
.profile {
  .profile-content {
    .mappings {
      padding-top: 0;
      .mapping-group {
        position: relative;
        .create-mapping-btn {
          position: absolute;
          top: -5px;
          right: 0;
        }
      }
    }
  }
}
