@import '../../../scss/vars';

.password-confirm-page {
  .password-confirm-content {
    padding-top: 0px;
    font-size: 0.95rem;

    &.recover-form {
      padding-bottom: 30px;
    }
    &.reset-expired {
      .form-btns {
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }
  }
}
