@import '../../../scss/vars';

.header.normal {

  .d-icon.icon-datea-logo {
    position: absolute;
    left: 5px;
    top: 11px;
  }

  .header-right {
    .btn {
      display: inline-block;
      vertical-align: top;
    }
    .lang-switcher {
      margin-right: 30px;
      margin-top: 6px;
      &.mobile {
        display: none;
      }
    }
  }

  .user-menu {
    display: inline-block;
  }

  .title {
    .title-text {
      margin-left: 42px;
      font-family: $oldSansBlack;
      font-size: 32px;
    }
  }

  .header-content {
    position: relative;
    .main-menu {
      float: left;
    }
    .search-container {
      display: block;
      padding-top: 7px;
      margin-left: 125px;
      margin-right: 25px;
    }
  }
}

.user-drawer {
  .profile-menu-avatar {
    text-align: center;
    padding: 15px;
    .default-avatar {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
