@import '../../../scss/vars';

.header.normal {

  .d-icon.icon-datea-logo {
    //position: absolute;
    //left: 5px;
    //top: 11px;
  }

  &.normal {

    .header-left {
      text-align: left;
      flex-basis: 15%;
      min-width: 220px !important;
      .main-menu {
        margin-left: 5px;
      }
    }

    .header-center {
      .search-container {
        position: relative;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .header-right {
      text-align: right;
      flex-basis: 15%;
      min-width: 220px !important;

      .btn {
        display: inline-block;
        vertical-align: top;
      }
      .lang-switcher {
        display: inline-block;
        padding-right: 30px;
        @media (min-width: 1024px) {
          padding-right: 10px;
        }
        margin-top: 6px;
      }
    }
  }

  .user-menu {
    display: inline-block;
  }

  .title {
    .title-text {
      margin-left: 42px;
      font-family: $oldSansBlack;
      font-size: 32px;
    }
  }
}

.main-menu-list {
  min-width: 250px;
}

.user-drawer {
  .profile-menu-avatar {
    min-width: 250px;
    text-align: center;
    padding: 15px;
    .default-avatar {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
