
.mapping-card-img {
  height: 200px;
  background-size: cover;
}

.mapping-card-img-icon {
  height: 200px;
  text-align: center;
  overflow: hidden;
  background-color: #ccc;
  position: relative;
  svg {
    position: relative;
    fill: #ffffff !important;
  }
  &.hashtag {
    svg {
      top: -10px;
      width: 220px !important;
      height: 220px !important;
    }
  }
  &.campaign {
    svg {
      top: 20px;
      width: 160px !important;
      height: 160px !important;
    }
  }
}
