@import '../../../scss/vars';

.settings-title {
  text-align: center;
  margin-bottom: 0;
  color: #777;
  font-weight: 400;
  svg {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 3px;
  }
}

.settings-msg-container {
  padding-top: 15px;
  padding-bottom: 0px;
  text-align: left;
  .msg-wrapper {
    padding-bottom: 10px;
    position: relative;
    h3.msg-title {
      margin-top: 0;
      font-size: 1.1rem;
      line-height: 35px;
      margin-bottom: 15px;
      .d-icon {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 4px;
        height: 35px;
        width: 35px;
      }
    }
    .msg-title, .msg-content {text-align: center}
    .msg-content {
      padding-bottom: 5px;
      font-size: 0.95rem;
    }
    .msg-actions {
      padding-top: 10px;
    }
  }
}

.account-dialog {
  .dialog-title {
    display: block;
    font-size: 1rem;
    padding: 5px 0 20px;
    .d-icon {
      margin-right: 5px;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.account-form-container.settings-form-container,
.settings-msg-container
{
  @media (max-width: $xs-break) {
    .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.account-form-container.settings-form-container {

  padding-top: 15px;

  .account-paper {
    padding-top: 5px;
  }

  @media (max-width: $xs-break) {
    .input-row, .form-btns, .show-pass-container, .info-row {
      text-align: left;
    }
    .account-paper {
      padding: 7px;
    }
  }

  .show-pass-container {
    padding-top: 20px;
  }

  .form-btns {
    padding-top: 25px;
    text-align: left;
  }

  .settings-tab-content {
      padding: 20px 30px;
      @media (max-width: $xs-break) {
        padding: 15px 8px;
        &.profile-tab {
          .info-row {
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }

      &.account-tab {
        padding-top: 40px;
      }

      &.notifications-tab {
          .info-row {
            text-align: left;
            padding-top: 15px;
            padding-bottom: 20px;
          }
          .checkbox-row {
            min-height: 45px;
          }
      }
  }
}
