@import '../../../scss/vars';

.campaign-info {
  background-color: #5E6E66;
  position: relative;

  .campaign-img {
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &.mobile {
    .campaign-img {
      height: 180px;
    }
  }

  .edit-btn-container {
    background: white;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    .icon-btn svg {
      width: 32px;
      height: 32px;
    }
  }

  .box-content {
    padding: 16px;
    color: white;
    position: relative;

    .campaign-title {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 5px;
      margin-top: 0px;
    }
    .main-tag {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    .short-desc {
      font-size: 15px;
      margin: 15px 0;
    }
    .more-info {
      color: $green;
      cursor: pointer;
    }

    .datear-btn {
      position: absolute;
      right: 30px;
      top: -20px;
    }
  }


}
