@import '../../../scss/vars';

.header.mobile {

  .header-content {
    .header-left {
      padding-top: 3px;
      min-width: 50px;
    }

    .header-right {
      min-width: 50px;
      text-align: right;
      position: relative;
      right: -8px;
    }
  }

  &.signed-out {
    .header-content {
      .header-center .search-container .search-bar.mobile {margin-right: 0}
      .header-right { min-width: 90px;}
    }
  }
}
