@import '../../../scss/vars';

.header.mobile {

  .header-content {
    .header-left {
      padding-top: 0px;
      .d-icon {
        margin-top: 4px;
      }
      .header-back-btn-icon {
        width  : 38px;
        height : 38px;
        position: relative;
        top : 1px;
        fill: black;
      }
    }

    .header-center {
      box-sizing: border-box;
      .search-container {
        box-sizing: border-box;
      }
    }

    .header-right {
      text-align: right;
      .header-mobile-menu-icon {
        fill: black;
      }
    }
  }

  &.signed-out {
    .header-content {
      .header-center .search-container .search-bar.mobile {margin-right: 0}
      .header-right { min-width: 90px;}
    }
  }
}
