

.login-page {
  .login-page-content {
    padding-top: 20px;
  }
  .login-form-title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 0.95rem;
  }
  .bottom-info {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 0.8375rem;
  }
}
