@import '../../../scss/vars';

.recover-password-page {
  .recover-password-content {
    padding-top: 15px;
    font-size: 0.95rem;
    .form {
      padding-top: 20px;
    }
    .input-row {
      margin-bottom: 20px;
    }
    .info-text {
      line-height: 1.2rem;
    }
    &.reset-success {
      padding-bottom: 20px;
      .form-btns {
        padding-top: 30px;
      }
      .resubmit-success {
        padding-top: 15px;
        font-size: 0.875rem;
      }
    }
  }
}
