
.search-mode-icon-btn {
  position: relative;
  .search-icon {
    width: 30px;
    height: 30px;
  }
  .dropdown-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 4px;
    left: 2px;
  }
}
