
.dateo {
  .tags {
    margin: 15px 0;
    .tag {
      display: inline-block;
      margin-right: 10px;
      line-height: 24px;
    }
  }
  .content {
    font-size: 15px;
    margin: 0 0 15px;
  }
}

.dateo-detail {
  max-width: 400px;
  position: relative;
  padding: 16px;
  .author-header {
    position: relative;
    z-index: 1;
  }
  .edit-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 2;
  }
}

.dateo-teaser {
  padding: 16px;
  .actions {
    text-align: right;
  }
}
