@import '../../scss/vars';

.account-form-container {
    padding: 30px 15px;

    .account-form-header {
      padding-top: 8px;
      &.with-icon {
        position: relative;
        left: -10px;
        .d-icon, .title {display: inline-block; vertical-align: top}
        .title { margin-top: 10px; margin-left: 5px;}
      }
      .subtitle {
        padding-top: 10px;
        font-size: 0.95rem;
      }
    }

    .account-paper {
      padding: 15px;
    }

    .btn-row {
      margin-bottom: 20px;
      .social-login-btn {
        width: 100%;
        max-width: 350px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .error-msg {
      color: $red;
      font-size: 0.85rem;
      padding: 15px 30px;
      line-height: 1.2rem;
      a {
        color: $red;
        font-weight: 500;
        &:hover {
          color:red;
        }
      }
    }
}

.form-btns {
  padding-top: 15px;
}
