@import '../../scss/vars';

.header {
  .d-icon.icon-datea-logo {
    position: absolute;
    left: 5px;
    top: 11px;
  }

  &.mobile {
    .d-icon.icon-datea-logo {
      top: 4px;
      width: 34px;
      height: 34px;
    }
  }

  .header-right {
    .btn {
      display: inline-block;
      vertical-align: top;
    }
    .lang-switcher {
      margin-right: 30px;
      margin-top: 6px;
      &.mobile {
        display: none;
      }
    }
  }

  .user-menu {
    display: inline-block;
  }

  .title {
    .title-text {
      margin-left: 42px;
      font-family: $oldSansBlack;
      font-size: 32px;
    }
  }
}

.user-drawer {
  .profile-menu-avatar {
    text-align: center;
    padding: 15px;
    .default-avatar {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
