@import '../../scss/vars';

.header {
  .d-icon.icon-datea-logo {
    position: absolute;
    left: 0px;
    top: 3px;
  }

  &.mobile {
    .d-icon.icon-datea-logo {
      top: 0;
      width: 34px;
      height: 34px;
    }
  }

  .user-menu {
    display: inline-block;
  }

  .title {
    .title-text {
      margin-left: 42px;
      font-family: $oldSansBlack;
      font-size: 32px;
    }
  }
}

.user-drawer {
  .profile-menu-avatar {
    text-align: center;
    padding: 15px;
  }
}
