@import '../../scss/vars';

.header {
  z-index: 1001;
  position: relative;

  &.mobile {
    /*.d-icon.icon-datea-logo {
      top: 7px;
      left: 3px;
      width: 34px;
      height: 34px;
    }*/
  }

  .header-content {
    display: flex;
    width: 100%;

    .header-left {
      text-align: left;
      flex-basis: 15%;
      min-width: 100px;
    }

    .header-center {
      flex-grow: 10;
      flex-basis: 70%;
    }

    .header-right {
      text-align: right;
      flex-basis: 15%;
    }
  }

  .user-menu {
    display: inline-block;
  }

  .title {
    .title-text {
      margin-left: 42px;
      font-family: $oldSansBlack;
      font-size: 32px;
    }
  }
}

.user-drawer {
  .profile-menu-avatar {
    text-align: center;
    padding: 15px;
    .default-avatar {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
