@import '../../../scss/vars';

.dateo-main-form {
  padding: 0px 20px;

  .field-row {
    padding: 16px 0;
  }

  .additionl-toggle-btn {
    padding-left: 0 !important;
    color: $textLight !important;
    text-transform: none !important;
    width: 100%;
    justify-content: left;
    svg {
      margin-left: 5px;
    }
  }
}
