@import '../../../scss/vars';

.dropzone-btn {
  width: 56px;
  height: 56px;
  display: inline-block;

  .dropzone-btn-elem {
    background-color: $greyMid;
    &:focus, &:active {
      background-color: $greyMid !important;
    }
    .dropzone-btn-icon {
      width: 32px;
      height: 32px;
      fill: white !important
    }
  }
  .dropzone-progress-container {
    background-color: $greyMid;
    width: 56px;
    height: 56px;
    position: relative;
    border-radius: 50%;
    .dropzone-position-wrap {
      position: absolute;
      width: 44px;
      height: 44px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
