
.image-grid {
  margin-left: -2px;
  margin-right: -2px;
  .grid-thumb-wrap {
    padding-top: 33%;
    width: 33%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    .grid-thumb {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      background-size: cover;
      background-position: center;
    }
  }
  &.small-grid {
    .grid-thump-wrap {
      padding-top: 16.66%;
      width: 16.66%;
    }
  }
}
