@import '../../../scss/vars';

.campaign-content-bar-detail {
  background-color: $greyDark;
  height: 48px;
  line-height: 48px;
  padding: 0 8px;
  position: relative;
  display: flex;
  color: white;
  fill: white;

  &.mode-visual {
    height: $contentBarHeightMobileVisual;
    line-height: $contentBarHeightMobileVisual - 4px;
  }

  .center-content {
    flex-grow: 10;
    flex-shrink: 1;
    text-align: center;
    position: relative;
    .go-back-btn {
      position: absolute;
      width: 100%;
      text-align: left;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex !important;
      //padding-bottom: 3px;
      padding-top: 0px;
      .back-icon {
        flex-basis: 30px;
        flex-shrink: 0;
        flex-grow: 0;
        svg {
          position: relative;
          top: 1px;
          width: 22px;
          height: 22px;
        }
      }
      .campaign-ht {
        flex-basis: 80%;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 22px;
        font-weight: 400;
        line-height: 18px;
        height: 18px;
        font-weight: 500;
      }
    }
  }

  .datear-btn {
    position: absolute;
    right: 16px;
    bottom: 0;
    transform: translate(0, 25%);
    z-index: 1;
  }

  &.mobile {
    .datear-btn {
      bottom: auto;
      top: 0;
      transform: translate(0, -40%);
    }
  }
}

.campaign-mapping-layout {
  .content-area.bar-sticky {
    .content-bar.bar-sticky-conditional {
      .campaign-content-bar-detail .datear-btn {
        top: auto;
        bottom: 0;
        transform: translate(0, 25%);
      }
    }
  }
}
