@import '../../scss/vars';

$contentBarHeightMobile: 48px;
$contentBarHeight: 48px;
$transitionDuration: 0.3s;

$contentBarHeightVisual : 56px;
$contentBarHeightMobileVisual: 56px;

$bottomBarHeight: 44px;

.mapping-layout {
  position: relative;

  &.non-mobile {
    height: calc(100vh - #{$appBarHeight});

    display: flex;

    .visual-area {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 65%;
      order: 2;
    }

    .content-area {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 35%;
      order: 1;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;

      .content-bar {
        height: $contentBarHeight;
        position: fixed;
        top: $appBarHeight;
        width: 35%;
        background-color: white;
        z-index: 10;
        &.bar-sticky-conditional {
          display: none;
        }
      }

      &.bar-sticky {
        .content-bar {
          display: block !important;
          z-index: 10;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        }
      }

      .content-container {
        box-sizing: border-box;
        padding: 0;
        background-color: white;
      }

      &.with-bar {
        .content-container {
          margin-top: $contentBarHeight
        }
      }

      &.pad-bar-top-when-sticky {
        .content-container {
          margin-top: 0;
        }
        &.bar-sticky {
          .content-container {
            margin-top: $contentBarHeight;
          }
        }
      }

      &.pad-bar-top {
        .content-area {
          padding-top: $contentBarHeight;
        }
      }
    }

    &.with-bottom-bar {
      .content-area, .visual-area  {
        margin-bottom: $bottomBarHeight;
      }

      .bottom-bar {
        z-index: 1001;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $bottomBarHeight;
      }
    }

    @media (max-width: $md-break) {
      .visual-area {
        flex-basis: 55%;
      }
      .content-area {
        flex-basis: 45%;
        .content-bar {
          width: 45%;
        }
      }
    }

  }


  &.mobile {

    height: calc(100vh - #{$appBarHeightMobile});

    .visual-area {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 70%;
      z-index: 1;
      //transition: bottom $transitionDuration ease;
    }

    .content-area {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y : auto;
      overflow-x: hidden;
      z-index: 2;
      transition: top $transitionDuration ease;

      .visual-overlay {
        height: 30%;
        transition: height $transitionDuration ease;
      }
      .content-bar {
        height: $contentBarHeightMobile;
        background-color: white;
      }
      .content-container {
        box-sizing: border-box;
        padding: 0;
        background-color: white;
      }

      &.bar-sticky {
        padding-top: $contentBarHeightMobile;
        .content-bar {
          position: fixed;
          z-index: 10;
          display: block !important;
          top: $contentBarHeightMobile;
          left: 0;
          right: 0;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        }
      }
    }

    &.mode-content {
      .datea-map .leaflet-control-zoom {
        display: none !important
      }
    }

    &.mode-visual {
      .content-area {
        .content-bar {
          z-index: 10;
          height: $contentBarHeightMobileVisual;
        }
      }
      .visual-area {
        z-index: 1;
        bottom: $contentBarHeightMobileVisual;
      }
      .content-area {
        top: calc(100% - #{$contentBarHeightMobileVisual});
        overflow: visible;
        .visual-overlay {
          height: 0px;
        }
      }
      &:not(.in-transition) {
        .content-area {
          box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
          .content-top-container, .content-container {
            display: none;
          }
        }
      }
    }
  }

  &.bar-only-for-visuals {
    .content-area .content-bar {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      transition: opacity 0.2s ease;
    }
    &.mode-content {
      .content-area .content-bar {
        display: none;
        opacity: 0;
      }
    }
    &.mode-visual:not(.in-transition) {
      .content-area .content-bar {
        display: block;
        opacity: 1;
        background-color: white;
      }
    }
  }
}

.mapping-with-input {
  .visual-area {
    .geo-search {
      position: relative;
      z-index: 5000;
    }
  }
}
