
@font-face {
	font-family: "HelveticaLTSTD-Cond";
	src: url("../fonts/helveticaltstd-cond/HelveticaLTStd-Cond.eot"),
	url("../fonts/helveticaltstd-cond/HelveticaLTStd-Cond.woff") format("woff"),
	url("../fonts/helveticaltstd-cond/HelveticaLTStd-Cond.ttf") format("truetype"),
	url("../fonts/helveticaltstd-cond/HelveticaLTStd-Cond.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OldSansBlack";
	src: url("../fonts/oldsansblack/OldSansBlack.eot"),
	url("../fonts/oldsansblack/OldSansBlack.woff") format("woff"),
	url("../fonts/oldsansblack/OldSansBlack.ttf") format("truetype"),
	url("../fonts/oldsansblack/OldSansBlack.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
