@import './vars';

// BOOT
html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  background-color: $greyLightBg;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }
}

a {
  color: $green;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $green;
  }
}

@import './vendor.scss';
@import './font.scss';
