// FONTS
$oldSansBlack: 'OldSansBlack';
$helveticaCond: 'HelveticaLTSTD-Cond';

// COLORS
$yellow : #EDFF00;
$green  : #28BC45;
$purple : #8B00A4;
$red    : rgb(244, 67, 54);

$greyLightBg : #ecefee;
$greyLight   : #aaaaaa;
$geryMid     : #888888;


// BREAKPOINTS (FROM FLEXBOX GRID)
$xs-break : 48em;
$sm-break : 64em;
$md-break : 75em;

// SIZES
// keep sync with ../theme/vars.js
$appBarHeight       : 64px;
$appBarHeightMobile : 48px;
$footerHeight       : 60px;
